.card1 {
    background-image: url("https://t4.ftcdn.net/jpg/02/40/63/55/360_F_240635575_EJifwRAbKsVTDnA3QE0bCsWG5TLhUNEZ.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin-left: -20px;
}

h1 {
    color: #ffffff;
    font-size: 40px;
    margin: 10px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

.h2 {
    color: #000000;
    font-size: 40px;
    font-style: italic;
    margin: 10px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

.p2 {
    color: #000000;
    font-size: 20px;
    margin: 10px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

button {
    color: #000000;
    font-size: 20px;
    margin: 10px;
    font-family: Roboto;
    border-style: solid;
    border-color: #000000;
    padding: 5px 30px;
    text-align: center;
    border-radius: 20px;
}

.font1 {
    font-size: 40px;
    margin: 10px;
}

.card2 {
    background-color: #ffffff;
    background-size: cover;
    border-style: solid;
    border-color: #000000;
    border-radius: 15px;
    height: 100vh;
    width: 80vw;
    margin-left: 50px;
    text-align: center;
}

.card3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX-GvRq4KbELmZ0doNGW5OzIWEg30G96iBVZRzvebFHg&s');
    height: 115vh;
    width: 100vw;
    background-size: cover;
    margin-left: -20px;
}

.cls {
    margin: 10px;
}

.btn {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX-GvRq4KbELmZ0doNGW5OzIWEg30G96iBVZRzvebFHg&s');
    color: #000000;
    font-size: 20px;
    margin: 10px;
    font-family: Roboto;
    border-style: solid;
    border-color: #000000;
    padding: 5px 30px;
    text-align: center;
    border-radius: 20px;
}

.error-message {
    color: red;
    font-family: "Roboto";
    font-size: 14px;
}

.f1 {
    font-size: 30px;
}

.bg1 {
    background-color: pink;
    border-radius: 50px;
    width: 50vw;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.card4 {
    background-color: #ffffff;
    background-size: cover;
    border-style: solid;
    border-color: #000000;
    border-radius: 15px;
    height: 90vh;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
}
